{% extends 'generic_scaffold/base.html' %}
{% load generic_scaffold_tags %}
{% block content %}

<a href='{% url object_list.model.create_url_name %}'>Create</a>
<ul>
    {% for object in object_list %}
        1{{ object.list_url_name }}2
        <li>
            {{ object }}
            {% set_url_for_action 'books' "detail" as detail_url %}
            {% set_url_for_action 'books' "update" as update_url %}
            {% set_url_for_action 'books' "delete" as delete_url %}
            <a href='{% url detail_url object.id %}'>detail</a>
            <a href='{% url update_url object.id %}'>update</a>
            <a href='{% url delete_url object.id %}'>delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}